#Intro{
    width: 100%;
    height: auto;
  }
  
  body{
    margin-top: 0%;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #111;
  }

  h2{
    max-width: 100%;
    text-align: center;
    position: relative;
    z-index: 1001;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    margin-top: -60%;
  }
  

a{

    position: relative;
    margin-top: 2%;
    z-index: 1000;
    
}

#buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 500px;
}

 button{
    align-items: center;
    width: 200px;
    height: 100px;
    font-family:Arial, sans-serif; 
    font-size: 30px;
    color: white;
    background-color: black;
    outline: 0px;
    cursor: pointer;
  }
  
